//this is the full header function css, which has the width of the screen with a slight header height  
header {
  height: 30%;
  width: 100vw; /* width to fill the full screen */
  background-color: #eb5160;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #AAAAAA;
  min-height: 0%;
}

//this is the logo css which is placed on the left side of the header
.logo img {
  width: 15%;
  height: auto;
  margin-left: 50px;
  margin-bottom: 10px;
}

