header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #eb5160;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

// .logo{
//   background: #eb5160;
// }