header {
  height: 30%;
  width: 100vw; /* Use viewport width to fill the full screen */
  background-color: #eb5160;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #AAAAAA;
  min-height: 0%;
}

.logo img {
  width: 15%;
  height: auto; /* Adjust the height proportionally */
  margin-left: 50px;
  margin-bottom: 10px;
}


