header {
  display: flex;
  height: 100%;
  width: ;
  background-color: #eb5160;
  margin: -10px;
  max-width:1250px;
}

header img {
  margin-right: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  margin-top: -50px;
}

header img {
  font-size: 40px;
}
