header {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #eb5160;
  margin: -10px;
  max-width:1250px;
}

.logo img {
  // font-size: 20px;
  // size: 40px;
  // width: 20px;
  margin-right: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
  margin-top: -50px;
}
