header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  background-color: #eb5160;
}

// .logo img {
//   height: 40px;
//   margin-right: 10px;
// }

// .logo  {
//   font-size: 24px;
//   margin: 0;
// }
