//imports all of the other sub scss to the main scss
@import "discover";
@import "musictracker";
@import "header";

// This is the font Gotham Medium
@font-face {
  font-family: "Gotham Medium";
  src: ("GothamMedium.ttf") format("truetype");
}

* {
  font-family: "Gotham Medium";
}

//this is the scss for the whole tracker
body{
  background: #071013;
 }

/* Additional styles for positioning */
.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}


  /* Responsive Styles */
//this is the css responsive style for the discover section
// this is the mobile view
@media (max-width: 640px) {
  .discover-section {
    width: 90%;
    float: left;
  }

  .album__toggle {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Responsive styles for screen size 1009px and above */
// this is the desktop view of discover
@media (min-width: 1009px) {
  .discover-section {
    width: 70%;
    float: left;
  }

  .album__toggle {
    margin-left: auto;
    margin-right: auto;
  }
}

//this is the responsive style for the music tracker 
/* Responsive styles for screen size up to 640px */
// this is the mobile view
@media (max-width: 640px) {
  .tracker__song {
    height: 3em;
    max-width: 30%;
    font-size: 0.5em;
    margin-right: 0%;
    margin-left: -45%;
    margin-top: -20%;
  }
  
  .tracker__add {
    font-size: 1.5em;
    padding: none;
  }
  
  .tracker__add::before {
    content: "+";
    color: #071013;
    margin-right: 0%;
    margin-left: -1200%;
    margin-top: -300%;
    padding: none;
  }

  .tracker__BPM {
    font-size: 0.5em;
    height: 3em;
    max-width: 50%;
    margin-right: 0%;
    margin-left: 2%;
    margin-top: -20%;
  }
  
  // .music-tracker {
  //   background: #f9f9f9;
  //   padding: 10px;
  //   max-width: 100%;
  // }
  
  .music-tracker div {
    display: flex;
    margin-right: 0%;
    float:right;
  }

  #music-tracker{
    width: 40%;
    margin-top: 0px;
margin-right: 0%;
    float:right;
  }

  .music-tracker {
    margin-left: auto;
    margin-right: auto;
   

  }
  }


/* Responsive styles for screen size 1009px and above */
// this is the desktop view
@media (min-width: 1009px) {
  #music-tracker{
    width: 30%;
    float: right;
  }


}


//this is the css responsive style for the header 
// this is the mobile view
@media (max-width: 640px) {
  header {
    height: 20%;
  }

  .logo img {
    width: 30%;
    margin-left: 20px;
    margin-bottom: 5px;
  }
}

/* Responsive styles for screen size 1009px and above */
// this is the desktop view
@media (min-width: 1009px) {
  header {
    height: 30%;
  }

  .logo img {
    width: 15%;
    margin-left: 50px;
    margin-bottom: 10px;
  }
}




