//music tracker playlist

.tracker {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

.tracker,
.tracker * {
  font-family: sans-serif;
}

.tracker th {
  font-size: 1.15em;
  text-align: left;
  font-weight: normal;
  color: #ffffff;
  background: #eb5160;
}

.tracker th,
.tracker td {
  padding: 0.75em;
}

.tracker__entries .tracker__row {
  background: #eeeeee;
}

.tracker__entries .tracker__row:nth-child(odd) {
  background: #dddddd;
}

.tracker__date,
.tracker__BPM,
.tracker__song,
.tracker__ID {
  display: inline-block;
  box-sizing: border-box;
  font-size: 1em;
  height: 2.5em;
  padding: 0.5em 0;
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.tracker__bpm-container {
  display: flex;
  align-items: center;
}

.tracker__bpm-image {
  order: -1;
  margin-right: 5px;
}

.tracker__bpm-container:not(.empty) .tracker__bpm-image {
  display: inline-block;
}

.tracker__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 50%;
  outline: none;
  color: red;
  font-size: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
  width: 100%;
}

.tracker__button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tracker__row--add {
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333;
  background: #ffffff;
}

.tracker__row--add td {
  text-align: right;
}

.tracker__add {
  display: inline-block;
  padding: 0.8em 1em;
  color: #eb5160;
  cursor: pointer;
}

.tracker__add:hover {
  background: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

.btn {
  padding: 10px 60px;
  background: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
